.img-1{
	margin:0 auto;
	filter:blur(2px);
}
.img-1:hover{
	filter:blur(0);
}

.img-2{
	margin:0 auto;
	filter:hue-rotate(0);
}
.img-2:hover{
	filter:hue-rotate(197deg);
}

.img-3{
	margin:0 auto;
	filter:brightness(250%);
}
.img-3:hover{
	filter:brightness(100%);
}

.img-4{
	margin:0 auto;
	filter:invert(80%);
}
.img-4:hover{
	filter:brightness(30%);
}

.img-5{
	margin:0 auto;
	filter:grayscale(1);
}
.img-5:hover{
	filter:brightness(50%);
}

.img-6{
	margin:0 auto;
	filter:saturate(10%);
}
.img-6:hover{
	filter:saturate(100%);
}

.img-7{
	margin:0 auto;
	filter:sepia(70%);
}
.img-7:hover{
	filter:sepia(0);
}

.img-8{
	margin:0 auto;
	filter:opacity(0.5);
}
.img-8:hover{
	filter:sepia(0);
}